//-------------- Fonts --------------//

$font-primary: 'Source Sans Pro', sans-serif;

//-------------- Colors --------------//

$color-primary: #A23024;
$color-secondary: #ffeed5;
$color-white: #f4f2eb;
$color-black: #28241c;
